/* Imported Fonts */

@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

/* Global Styles */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

* {
  scroll-behavior: smooth;
}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

body {
  font-family: 'Della Respira', serif;
  font-size: 62.5%;
}

/* Infrastructural Styles */

.container {
  width: 100vw;
  height: 100vh;
}

/* Typographical Styles */

h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

li h1,
li h2 {
  display: flex;
  justify-items: stretch;
  align-items: center;
}

ul {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-bottom: 1px solid transparent;
}

.containerNew ul {
  height: auto;
  border-bottom: 1px solid #000;
}

li {
  list-style-type: none;
}

li.arrow {
  margin-top: 10px;
  animation: arrow .7s infinite;
}

li.arrow a {
  color: #000;
}

li.arrow a:active {
  color: #000;
}

.description,
.descriptionNew {
  font-family: 'Kosugi', sans-serif;
  font-size: .93em;
}

.description {
  margin-top: 3px;
  margin-left: 7px;
}

/* New Project Styles */

.projectTitleInput {
  display: none;
}

.projectTitleInputNew {
  font-weight: bold;
  font-family: 'Kosugi', sans-serif;
  margin-top: 3px;
  margin-left: 7px;
  display: inline-block;
}

.projectTitleInputNew input {
  font-weight: bold;
  font-family: 'Kosugi', sans-serif;
  font-size: .93em;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-top: -3px;
  text-align: center;
  animation: emphasis 1s ease-in;
}

@keyframes arrow {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(.95);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes emphasis {
  0% {
    background-color: transparent;
  }
  25% {
    background-color: pink;
  }
  50% {
    background-color: yellow;
  }
  75% {
    background-color: orange;
  }
  100% {
    background-color: transparent;
  }
}

/* Saved Projects Styles */

.savedProjects {
  min-height: 100vh;
  padding: 100px;
  background-color: #000;
  color: #fff;
}

.savedProjects p {
  margin: 0;
  padding: 0;
}

.savedProject {
  width: calc(100% - 20% - 55px);
  padding: 25px;
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: 'Kosugi', sans-serif;
  font-size: 2.5em;
  background-color: #fff;
  color: #000;
  line-height: 1.5em;
  box-shadow: 5px 5px 0px grey;
  float: right;
}

.savedProject p:nth-of-type(2) {
  margin-top: 10px;
  font-size: .8em;
}

.categories {
  float: right;
  text-align: right;
  width: 50%;
  font-size: 2em;
}

.categories .sortBy,
.categories .description {
  display: inline;
}

.savedProjects h2 {
  width: 50%;
  font-size: 2em;
  margin-bottom: 50px;
  float: left;
}

.categories a {
  cursor: pointer;
  transition-duration: .2s;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.categories a:hover {
  border-bottom: 1px solid white;
}

.projects {
  margin-top: 15px;
  width: 100%;
}

.createProject {
  float: left;
  font-family: 'Kosugi', sans-serif;
  font-size: 2.5em;
  background-color: #fff;
  color: #000;
  padding: 25px;
  line-height: 1.5em;
  width: 20%;
  height: 300px;
  box-shadow: 5px 5px 0px grey;
  cursor: pointer;
}

.createProject:hover {
  margin-left: 5px;
  margin-top: 5px;
  box-shadow: 0px 0px 0px grey;
}

span.projectTrigger {
  font-family: 'Della Respira', serif;
  display: inline-block;
  margin-right: 10px;
  animation: arrow 1s infinite;
}

@media (max-width: 1170px) {

  .savedProject {
    margin-left: 0px;
    width: 100%;
    display: block;
    float: none;
  }

  .savedProject:last-of-type {
    margin-bottom: 0px;
  }

  .createProject { 
    display: block;
    width: 100%;
    height: auto;
    float: none;
    margin-bottom: 50px;
  }

  .projects a {
    text-decoration: none;
  }

}

@media (max-width: 720px) {
  
  .savedProjects header h2{
    display: block;
    width: 100%;
    text-align: center;
  }

  .savedProject p, .savedProject p:last-of-type {
    font-size: .7em;
  }

  .savedProject p:first-of-type {
    text-decoration: underline;
  }

}

/* Form Styles */

.submissionForm {
  position: relative;
}

.projectTitle {
  position: absolute;
  top: 100px;
  left: 5%;
  font-weight: bold;
  font-family: 'Kosugi', sans-serif;
  font-size: 1.5em;
  text-decoration: underline;
  max-width: 200px;
}

.submissionForm form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submissionForm form h2 {
  font-size: 2em;
  margin-bottom: 50px;
}

.projectDescription,
.workingBibliography,
.selectedArtists,
.thematicTags,
.submissionFormSubmit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 50px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.node {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.node textarea {
  width: 100%;
  min-height: 500px;
  outline: none;
  resize: none;
  padding: 25px;
  font-size: 2em;
}

.node input[type="text"]{
  font-size: 2em;
  width: 100%;
  padding: 25px 10px;
  border: 0;
  border-bottom: 1px solid #000;
}

.node input[type="text"]:first-of-type{
  border-top: 1px solid #000;
}

button[type="submit"] {
  padding: 15px;
  background-color: #000;
  color: #fff;
  font-family: 'Kosugi', sans-serif;
  border: 0px;
  box-shadow: 5px 5px 0px grey;
  font-size: 1.5em;
  cursor: pointer;
}

button[type="submit"]:hover {
  box-shadow: none;
  margin-left: 5px;
  margin-top: 5px;
}

@media (max-width: 720px) {

  .projectTitle {
    position: relative;
    margin: 0 auto;
    top: 50px;
    left: 0;
  }

}